<html lang="ja">

  <body>
    <div class="container">
      <div class="row">
         <div class="mx-auto">
           <h1>welcome to <i class="fas fa-book">Bookers!!</i></h1>
         </div>
      </div>
    </div>
  </body>

  <footer class="container">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </footer>

</html>